<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>justTest</title>
</head>
<body>

	<%- include('./common/head.ejs',{user: 'lilei'}); %>

	<p>i just test ejs templet</p><%= title%>

	<%- include('./common/foot.ejs',{sex: '男'}); %>

</body>
</html>